<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="M2E_Shein::shein" title="Shein" module="M2E_Shein" sortOrder="31"
             dependsOnModule="M2E_Shein" resource="M2E_Shein::shein" action="m2e_shein/dashboard/index"/>
    </menu>
</config>
