<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="m2e_shein" frontName="m2e_shein">
            <module name="M2E_Shein"/>
        </route>
    </router>
</config>
